body {
	background: #fff;
	color: #000;
	font-family: arial, Arial, Helvetica, sans-serif;
}

a {
	color: #33c;
}

a:visited {
	color: #999;
}

table {
	border: 0;
	padding: 0;
	border-collapse: collapse;
}
.grey {
	color: #666;
}
